[Unit]
Description=Push-To-Talk C++ Application
After=pipewire.service pulseaudio.service
Wants=pipewire.service pulseaudio.service

[Service]
ExecStart=/usr/bin/pttcpp
Restart=always

[Install]
WantedBy=default.target